#result-list, #photo-info, #loading, #error {
    display: none;
}

.category-title {
   text-transform: capitalize;
}

.gallery-title{
    margin: 20px 0px;
}

.gallery-img{
    cursor: pointer;
    padding: 5px auto;
    margin: 5px auto;

    transition: background-color 0.6s ease;
    &:hover{
        transition: background-color 0.9s ease;
        background-color: #e2e2e2;
    }
}

#result-container{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#photo-info {
    padding: 10px;
}

#photo-description{
    margin-top: 20px;
}

#close-selected{
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    z-index: 2;
}